/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 62.5%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'M+ M Type-1 (basic latin) Regular','M+ C Type-1 (basic latin) Regular', 'M+ Type-1 (general-j) Regular', sans-serif;
}

.l-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  background-color: #FFF7EF;
}

.l-header .c-title {
  margin-left: 4.2%;
}

.l-header .c-search {
  margin-right: 1.9%;
}

.l-wrapper {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-wrapper__left {
  width: 81%;
}

.l-wrapper__right {
  width: 19%;
}

.l-main__front-page-contents {
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-sidebar {
  padding: 15%;
  background-color: #F2EDE9;
  height: 100%;
}

.l-footer {
  max-width: 1920px;
  height: 100px;
  background-color: #9D8670;
  color: white;
  text-align: center;
}

.l-footer small {
  position: relative;
  top: 20px;
}

.l-footer__sitemap {
  padding-top: 30px;
  font-size: 1.6rem;
}

.l-footer__sitemap a {
  text-decoration: none;
  color: white;
}

.c-title {
  font-family: 'Roboto', sans-serif;
}

.c-title--header {
  color: #707070;
  font-size: 6.4rem;
}

.c-title--side-menu {
  color: #707070;
  font-size: 3.4rem;
  margin-bottom: 30%;
}

.c-title--front-page-card {
  white-space: nowrap;
  color: white;
  font-size: 8rem;
  padding: 5%;
}

.c-menu dt {
  font-size: 2.4rem;
  margin: 4rem 0;
}

.c-menu dd {
  font-size: 2rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

.c-search {
  margin-left: auto;
  color: #707070;
  position: relative;
}

.c-search__box {
  border-radius: 10px;
  width: 300px;
  height: 40px;
  border: 1px solid #707070;
  padding-left: 48px;
  font-size: 1.6rem;
  outline: none;
}

.c-search__icon {
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: 2.5rem !important;
}

.c-search__button {
  margin-left: 14px;
  width: 100px;
  height: 40px;
  background-color: #F2EDE9;
  border: 1px solid #707070;
  border-radius: 10px;
  font-size: 1.6rem;
  outline: none;
}

.c-sub-title {
  color: white;
}

.c-map {
  overflow: hidden;
  background-color: #000;
}

.c-map .c-map__image {
  position: relative;
}

.c-map .c-map__image img {
  width: 100%;
}

.c-map__explanation {
  position: absolute;
  top: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  width: 61%;
  height: 100%;
  padding: 3%;
}

.c-map__explanation h2 {
  font-weight: normal;
  font-size: 3.6rem;
}

.c-map__explanation hr {
  width: 7.5rem;
  border-width: 2px;
  border-color: white;
  margin: 5% 0;
}

.c-map__explanation p {
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.c-front-page-card {
  overflow: hidden;
  background-size: cover;
  width: 40%;
}

.c-front-page-card hr {
  padding-bottom: 50%;
  border-width: 4px;
  border-color: white;
  width: 6.3rem;
  margin-left: 5%;
}

.c-front-page-card--card1 {
  background-image: url(../image/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.png);
  margin-right: 5%;
}

.c-front-page-card--card2 {
  background-image: url(../image/473d814b175bd517b56eb309f2958725.png);
}

.c-front-page-card__explanation {
  width: 94%;
  margin: auto;
  margin-bottom: 3%;
  color: #3C2A10;
  background-color: rgba(255, 255, 255, 0.8);
}

.c-front-page-card__explanation h3 {
  padding: 3%;
  font-size: 2.4rem;
}

.c-front-page-card__explanation p {
  padding: 3%;
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.p-main-visual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-main-visual .c-sub-title {
  padding-left: 5%;
}

.p-main-visual--front-page {
  padding: 15% 0;
  background-image: url(../image/3ba5a44414bb3c0885c27ff614596431.png);
  background-size: cover;
}

.p-main-visual--front-page .c-sub-title {
  font-size: 4rem;
}
/*# sourceMappingURL=style.css.map */