.c-title{
    font-family: 'Roboto', sans-serif;
    &--header{
        color: #707070;
        font-size: 6.4rem;
    }
    &--side-menu{
        color: #707070;
    }
    &--front-page-card{
        color: white;
        font-size: 8rem;
    }
}