.l-footer{
    max-width:1920px;
    height: 100px;
    background-color: #9D8670;
    color: white;
    text-align: center;
    small{
        position: relative;
        top:20px;
    }
    &__sitemap{
        padding-top: 30px;
        font-size: 1.6rem;
        a {
            text-decoration: none;
            color: white;
        }
    }

}