.l-header{
    display: flex;
    align-items:center;
    height: 150px;
    background-color: #FFF7EF;
    .c-title{
        margin-left: 4.2%;
    }
    .c-search{
        margin-right: 1.9%;
    }
}