.p-main-visual{
    &--front-page{
        height: 20%;
        display: flex;
        align-items: center;
        background-image: url(../image/3ba5a44414bb3c0885c27ff614596431.png);
        background-size: cover;
        .c-sub-title{
            padding-left: 5%;
            font-size: 4rem;
        }
    }
}